@font-face {
    font-family: 'FREEFATFONT-Slanted';
    src: url('static/fonts/FREEFATFONT-Slanted.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Peta&display=swap');

/* Define CSS variables */
:root {
    --font-fat: 'FREEFATFONT-Slanted', Arial, sans-serif;
    --font-title: 'Lexend Peta';
    --font-normal: 'Lexend Deca';
    --bg-color-mila: #12266F;
    --headline-color-mila: #2346AE;
    --highlight-color-mila: #5983FF;
    --chart-color-mila: #142F7E;
    --bg-color-nova: #F3E32C;
    --headline-color-nova: #C0B423;
    --highlight-color-nova: #847C1C;
    --chart-color-nova: #E8D82A;
    --dog-emoji-width: clamp(150px, 20vw, 300px);
    --top-padding: clamp(18%, 5vw, 24%);
    --title-overlap: clamp(-120px, -7vw, -40px);
    --headline-xl: clamp(90px, 15vw, 220px);
    --headline-sm: clamp(28px, 2.5vw, 36px);
    --body-md: clamp(14px, 1.25vw, 18px);
    --body-sm: 16px;
}

/* Breakpoint for tablets (768px and below) */
/* @media (max-width: 1280) {
    :root {
        --dog-emoji-width: 200px;
        --headline-xl: 168px;
        --headline-sm: 32px;
        --body-md: 16px;
    }
} */



body {
    margin: 0;
    font-family: var(--font-normal);
}

.page-wrapper{
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.mila {
    background-color: var(--bg-color-mila);
}
.mila .dog-name {
    color: var(--headline-color-mila);
}

.nova {
    background-color: var(--bg-color-nova);
}
.nova .dog-name {
    color: var(--headline-color-nova);
}

.dog-emoji {
    width: var(--dog-emoji-width);
    margin-bottom: 56px;
}
.dog-emoji img{
    width: 100%;
}

.dog-name {
    font-family: var(--font-fat);
    font-size: var(--headline-xl);
    margin-bottom: var(--title-overlap);
    padding-top: var(--top-padding);
}

.info {
    font-size: var(--body-md);
    text-transform: uppercase;
    font-family: var(--font-title);
}
.mila .info {
    color: var(--highlight-color-mila);
}
.nova .info {
    color: var(--highlight-color-nova);
}

.time {
    font-size: var(--headline-sm);
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 12px;
    letter-spacing: 2px;
}
.mila .time {
    color: white;
}

.nova .time {
    color: black;
}

.arrow {
    position: absolute;
    bottom: 20px;
    transition: all .3s;
}
.arrow.hidden{
    opacity: 0;
}

/* Chart */

.chart-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.chart{
    max-width: 600px;
    width: 100%;
}
.mila .chart-row {
    background-color: var(--chart-color-mila)
}
.nova .chart-row {
    background-color: var(--chart-color-nova)
}

.chart-section .info {
    font-size: var(--body-sm);
    margin-bottom: 16px;
}

.chart .chart-row{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 16px;
    margin-bottom: 6px;
    letter-spacing: 2px;
    font-weight: 300;
}
.chart-row:last-child {
    margin-bottom: none; /* Remove border for the last row */
}

.mila .chart-row{
    color: var(--highlight-color-mila);
}
.nova .chart-row{
    color: var(--highlight-color-nova);
}


.mila .chart-date {
    color: white;
}
.nova .chart-date {
    color: black;
}

.chart-date{
    flex-grow: 1;
}
.chart-duration{
    flex: 0 0 56px;
    text-align: right;
}
.chart-time{
    align-self: flex-start;
}