@font-face {
    font-family: 'FREEFATFONT-Slanted';
    src: url('static/fonts/FREEFATFONT-Slanted.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Peta&display=swap');

/* Define CSS variables */
:root {
    --font-fat: 'FREEFATFONT-Slanted', Arial, sans-serif;
    --font-title: 'Lexend Peta';
    --font-normal: 'Lexend Deca';
    --bg-color-mila: #12266F;
    --headline-color-mila: #2346AE;
    --highlight-color-mila: #5983FF;
    --bg-color-nova: #F3E32C;
    --headline-color-nova: #C0B423;
    --highlight-color-nova: #847C1C;
    --dog-emoji-width: 280px;
    --headline-xl: 210px;
    --headline-sm: 36px;
    --body-md: 18px;
    --body-sm: 16px;
}

body {
    margin: 0;
    font-family: var(--font-normal);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-section{
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.chart-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.chart {
    height: 800px;
    width: 100%;
    background-color: white;
}

.mila {
    background-color: var(--bg-color-mila);
}
.mila .dog-name {
    color: var(--headline-color-mila);
}

.nova {
    background-color: var(--bg-color-nova);
}
.nova .dog-name {
    color: var(--headline-color-nova);
}

.dog-emoji {
    width: var(--dog-emoji-width);
    margin-bottom: 56px;
}
.dog-emoji img{
    width: 100%;
}

.dog-name {
    font-family: var(--font-fat);
    font-size: var(--headline-xl);
    margin-bottom: -90px;
}

.info {
    font-size: var(--body-md);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-title);
}
.mila .info {
    color: var(--highlight-color-mila);
}
.nova .info {
    color: var(--highlight-color-nova);
}

.time {
    font-size: var(--headline-sm);
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 12px;
    letter-spacing: 2px;
}
.mila .time {
    color: white;
}

.nova .time {
    color: black;
}

.arrow {
    position: absolute;
    bottom: 20px;
}
